<footer class="footer">
  <small>
    This <a href="https://railstutorial.jp/">application</a>
    made by <a href="https://www.facebook.com/jun.ikejima.7">Jun Ikejima</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="https://www.facebook.com/jun.ikejima.7">Contact</a></li>
    </ul>
  </nav>
</footer>